<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<div class="header center white-textcontainer red darken-1 white-text">
<body>
<header>

</header><!-- /header -->
  <nav>

  </nav>

  <h1>Hello world

  </h1>



</body>
</div>
</html>
